:root {
  /** App Colors **/

  --primary-white: #ffffff;
  --secondary-white: #f8f8f8;
  --primary-black: #121417;
  --secondary-black: #121417cc;
  --third-black: #121417b3;
  --primary-grey: #8a8a89;
  --green-price: #38cd3e;
  --accent-color: #9fbaae;
  --secondary-accent-color: #cbded3;

  /** App Z-index **/

  --main-z-index: 2;
  --lowest-z-index: -1;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--primary-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./assets/fonts/Roboto-Medium.ttf) format("truetype");

  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto") url(./assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./assets/fonts/Roboto-Italic.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1216px;
  }
}

main {
  position: relative;
}
